{% extends 'SonataAdminBundle:CRUD:edit.html.twig' %}

{% block form %}
    {{ parent() }}

    <script>
        $(function() {
            var $typeSelect = $("#{{ admin.uniqId }}_type");
            var $linkTypeSelect = $("#{{ admin.uniqId }}_linkType");
            var $linkProperties = $("#sonata-ba-field-container-{{ admin.uniqId }}_linkPage, #sonata-ba-field-container-{{ admin.uniqId }}_linkUrl");

            $typeSelect
                .on("change", function() {
                    $linkTypeSelect.trigger("change");

                    if ($typeSelect.val() === "PAGE") {
                        console.log("HIDE PROPS", $linkProperties);
                        $linkProperties.hide();
                    }
                })
                .trigger("change");
        });
    </script>
{% endblock %}
