{% if admin.isGranted('EDIT', object) and object.type == 'PAGE' %}
    <a href="{{ path('admin_megacoders_page_page_pageblock_list', {id: object.id}) }}"
       class="btn btn-sm btn-default blocks_link"
       title="{{ 'admin.entities.page.actions.blocks'|trans }}">
        <i class="fa fa-th-large" aria-hidden="true"></i>
        {{ 'admin.entities.page.actions.blocks'|trans }}
    </a>
{% endif %}
