{% extends 'SonataAdminBundle:CRUD:list.html.twig' %}

{% import _self as tree %}
{% macro pages(pages, admin, rootPages) %}
    {% for page in pages %}
        <div class="admin-tree-item row">
            <div class="col-xs-12 col-md-7">
                <div class="row">
                    <div class="col-xs-1">
                        <div class="admin-tree-item-batch">
                            <input type="checkbox" name="idx[]" value="{{ admin.id(page) }}">
                        </div>
                    </div>

                    <div class="col-xs-8">
                        <div class="admin-tree-item-inner" style="padding-left: {{ page.level * 15 }}px">
                            <div class="admin-tree-item-header">{{ page.name }}</div>
                            <a href="{% if not page.published and page.type != 'LINK'%}/unpublished{% endif %}{{ page.url }}" target="_blank" class="admin-tree-item-inner_url text-muted">
                                {% if page.type == 'LINK' %}<span class="link-arrow">→</span>{% endif %}
                                {{ page.targetUrl|default('…') }}
                            </a>
                        </div>
                    </div>

                    <div class="col-xs-1">
                        <div class="admin-tree-item-inner padding-top-10">{{ page.locale }}</div>
                    </div>

                    <div class="col-xs-1">
                        <div class="admin-tree-item-inner padding-top-10 text-muted">{{ page.sortOrder }}</div>
                    </div>

                    <div class="col-xs-1">
                        <div class="admin-tree-item-inner padding-top-10">
                            {% if not page.published %}
                                <i class="fa fa-eye-slash" title="{{ 'admin.entities.page.not_published'|trans }}"></i>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-5">
                <div class="admin-tree-item-actions btn-group pull-right">
                    {% include 'MegacodersPageBundle:Admin/Page:list__action__blocks.html.twig' with {object: page} %}
                    {% include 'SonataAdminBundle:CRUD:list__action_edit.html.twig' with {object: page} %}
                    {% include 'MegacodersAdminBundle::list__action__clone.html.twig' with {object: page} %}
                    {% include 'SonataAdminBundle:CRUD:list__action_delete.html.twig' with {object: page} %}
                </div>
            </div>
        </div>

        {% if page.children|length %}
            {{ _self.pages(page.children, admin, false) }}
        {% endif %}
    {% endfor %}
{% endmacro %}

{% block list_table %}
    <div class="col-xs-12 col-md-12">
        {% set batchactions = admin.batchactions %}
        {% if admin.hasRoute('batch') and batchactions|length %}
        <form action="{{ admin.generateUrl('batch', {'filter': admin.filterParameters}) }}" method="POST" >
            <input type="hidden" name="_sonata_csrf_token" value="{{ csrf_token }}">
            {% endif %}

            <div class="box box-primary">
                <div class="box-header">
                    <h1 class="box-title">{{ 'admin.labels.pages'|trans }}</h1>
                </div>
                <div class="box-content admin-tree">
                    {% if site is empty %}
                        <p><em>{{ 'admin.messages.site.no_sites_yet'|trans }}</em></p>
                    {% elseif pages is empty %}
                        <p><em>{{ 'admin.messages.page.no_pages_yet'|trans }}</em></p>
                    {% else %}
                        {{ tree.pages(pages, admin, true) }}
                    {% endif %}

                    {% if pages|length %}
                        {% block list_footer %}
                        <div class="box-footer">
                            <div class="form-inline clearfix">
                                {% if not app.request.isXmlHttpRequest %}
                                    <div class="pull-left">
                                        {% if admin.hasRoute('batch') and batchactions|length > 0  %}
                                            {% block batch %}
                                                <input type="hidden" name="is_tree_batch" value="true">

                                                {% block batch_actions %}
                                                    <label class="checkbox" for="{{ admin.uniqid }}_all_elements">
                                                        <input type="checkbox" name="all_elements" id="{{ admin.uniqid }}_all_elements">
                                                        {{ 'all_elements'|trans({}, 'SonataAdminBundle') }}
                                                        ({{ pages|length }})
                                                    </label>

                                                    <select name="action" style="width: auto; height: auto" class="form-control">
                                                        {% for action, options in batchactions %}
                                                            <option value="{{ action }}">{{ options.label|trans({}, options.translation_domain|default(admin.translationDomain)) }}</option>
                                                        {% endfor %}
                                                    </select>
                                                {% endblock %}

                                                    <input type="submit" class="btn btn-small btn-primary" value="{{ 'btn_batch'|trans({}, 'SonataAdminBundle') }}">
                                            {% endblock %}
                                        {% endif %}
                                    </div>

                                    <div class="pull-right">
                                        {% if admin.hasRoute('export') and admin.isGranted('EXPORT') and admin.getExportFormats()|length %}
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                                    <i class="fa fa-share-square-o" aria-hidden="true"></i>
                                                    {{ "label_export_download"|trans({}, "SonataAdminBundle") }}
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu pull-right">
                                                    {% for format in admin.getExportFormats() %}
                                                    <li>
                                                        <a href="{{ admin.generateUrl('export', admin.modelmanager.paginationparameters(admin.datagrid, 0) + {'format' : format}) }}">
                                                            <i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i>
                                                            {{ ("export_format_" ~ format)|trans({}, 'SonataAdminBundle') }}
                                                        </a>
                                                    <li>
                                                        {% endfor %}
                                                </ul>
                                            </div>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endblock %}
                    {% endif %}
                </div>
            </div>

            {% if admin.hasRoute('batch') and batchactions|length %}
        </form>
        {% endif %}
    </div>
{% endblock %}
