{% extends 'SonataAdminBundle:CRUD:edit.html.twig' %}

{% block form %}
    {{ parent() }}

    <script>
        $(function() {
            var $moduleSelect = $("#{{ admin.uniqId }}_moduleId");
            var $blockSelect = $("#{{ admin.uniqId }}_block");
            var $templateIdSelect = $("#{{ admin.uniqId }}_templateId");

            $moduleSelect.on("change", function updateBlocks() {
                var moduleId = $(this).val();

                // Populate block select.
                $blockSelect
                        .attr("disabled", true)
                        .select2("val", "")
                        .empty();

                $.ajax({
                    method: "POST",
                    url: "{{ admin.generateUrl('module_blocks') }}",
                    data: {
                        "{{ admin.idParameter }}": "{{ object.id }}",
                        moduleId: moduleId,
                        uniqid: "{{ admin.uniqid }}"
                    },
                    success: function(response) {
                        $.each(response, function(id, block) {
                            $blockSelect.append($("<option/>", {
                                value: id,
                                text: block.name,
                                selected: block.selected
                            }));
                        });

                        $blockSelect
                                .removeAttr("disabled")
                                .trigger("change.select2");
                    },
                    error: function(error) {
                        $blockSelect.attr("disabled", true);

                        console.log("Error get blocks for module with ID = " + moduleId, error);
                    }
                });

                // Populate block template select.
                $templateIdSelect
                    .attr("disabled", true)
                    .select2("val", "")
                    .empty();

                $.ajax({
                    method: "POST",
                    url: "{{ admin.generateUrl('module_templates') }}",
                    data: {
                        "{{ admin.idParameter }}": "{{ object.id }}",
                        moduleId: moduleId,
                        uniqid: "{{ admin.uniqid }}"
                    },
                    success: function(response) {
                        $.each(response, function(id, template) {
                            $templateIdSelect.append($("<option/>", {
                                value: id,
                                text: template.name,
                                selected: template.selected
                            }));
                        });

                        $templateIdSelect
                            .removeAttr("disabled")
                            .trigger("change.select2");
                    },
                    error: function(error) {
                        $templateIdSelect.attr("disabled", true);

                        console.log("Error get templates for module with ID = " + moduleId, error);
                    }
                });
            });

            $moduleSelect.trigger("change");
        });
    </script>
{% endblock %}
