{% extends 'SonataAdminBundle:CRUD:list.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets '@MegacodersPageBundle/Resources/assets/scss/admin.scss' filter="scssphp" output="bundles/megacoderspage/css/admin-theme.css"%}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block list_table %}
    <table class="page-layout-grid">
        {% for row in rows %}
            <tr>
                {% for cell in row %}
                    <td colspan="{{ cell.area.width }}" rowspan="{{ cell.area.height }}"{% if cell.area.isMain %} class="main"{% endif %}>
                        <div class="layout-cell">
                            <div class="layout-cell-inner">

                                {% if cell.contentDescription is not empty %}
                                    <div class="cell-block cell-block_content">
                                        <a href="{{ cell.contentDescription.url }}" title="{{ 'admin.entities.page_block._actions.edit_content'|trans }}">
                                            {{ cell.contentDescription.name }}
                                        </a>
                                    </div>
                                {% endif %}

                                {% if cell.module is not empty %}
                                    <div class="cell-block cell-block_module">
                                        <a href="{{ path('admin_megacoders_page_block_edit', {id: cell.block.block.id}) }}" title="{{ 'admin.entities.page_block._actions.edit_block'|trans }}">
                                            {{ cell.module.name|trans }} » {{ cell.action.name|trans }}
                                        </a>
                                    </div>
                                {% endif %}


                                <div class="cell-block cell-block_block">
                                    {% if cell.block is not empty %}
                                        <a href="{{ path('admin_megacoders_page_page_pageblock_delete', {id: page.id, childId: cell.block.id}) }}" title="{{ 'admin.entities.page_block._actions.unbind'|trans }}" class="offside">
                                            <i class="fa fa-unlink"></i>
                                        </a>
                                        <a href="{{ path('admin_megacoders_page_page_pageblock_edit', {id: page.id, childId: cell.block.id, areaId: cell.area.id}) }}" title="{{ 'admin.entities.page_block._actions.edit_binding'|trans }}">
                                            {{ cell.block.block.name }}
                                        </a>
                                    {% else %}
                                        <a href="{{ path('admin_megacoders_page_page_pageblock_create', {id: page.id, areaId: cell.area.id}) }}" title="{{ 'admin.entities.page_block._actions.bind'|trans }}" class="offside">
                                            <i class="fa fa-link"></i>
                                        </a>
                                        <a href="{{ path('admin_megacoders_page_page_pageblock_create', {id: page.id, areaId: cell.area.id}) }}" title="{{ 'admin.entities.page_block._actions.bind'|trans }}">
                                            {{ 'admin.entities.page_block._actions.bind'|trans }}
                                        </a>
                                    {% endif %}
                                </div>

                                <div class="cell-block cell-block_area">{{ cell.area.name|trans }}</div>
                            </div>
                        </div>
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}
