<div class="module-wrapper {% block css_class %}{% endblock %}">
    {% block  title %}
        {%- if title is not empty %}<h4>{{ title }}</h4>{% endif -%}
    {% endblock %}

    {% block content %}
        {{- content|raw -}}
    {% endblock %}
</div>
