<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{% block title %}{{ page.title }}{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    {% block meta %}
        {% for meta in page.metas %}
            <meta {{ meta.property }}="{{ meta.name }}" content="{{ meta.content }}"/>
        {% endfor %}
    {% endblock %}

    {% block stylesheets %}{% endblock %}
    {% block javascripts_head %}{% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
    {% block body %}{{ page.block('content')|raw }}{% endblock %}
    {% block javascripts %}{% endblock %}
</body>
</html>
