<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{% block title %}{{ statusCode }}{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    {% block stylesheets %}{% endblock %}
    {% block javascripts_head %}{% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
    {% block body %}
        <h1>{{ statusCode }}</h1>
        <h2>{{ exception.message }}</h2>

        {% if app.debug and exception.trace|length > 0 %}
            <ul>
                {% for row in exception.trace -%}
                    <li>
                        {% if row.class is defined %}{{ row.class }}{{ row.type }}{{ row.function }}<br>{% endif %}
                        {% if row.file is defined %}<small>{{ row.file }}#{{ row.line }}</small><br>{% endif %}
                    </li>
                {%- endfor %}
            </ul>
        {% endif %}
    {% endblock %}
    {% block javascripts %}{% endblock %}
</body>
</html>
