{% extends 'SonataAdminBundle:CRUD:edit.html.twig' %}

{% block form %}
    {{ parent() }}

    <script>
        $(function() {
            var $nameInput = $("#{{ admin.uniqId }}_name");
            var $propertyInputContainer = $("#sonata-ba-field-container-{{ admin.uniqId }}_property");

            $nameInput.on("keyup", function() {
                var value = $nameInput.val();
                var showPropertyInput = !(value == 'title' || value[0] == "-");

                $propertyInputContainer.toggle(showPropertyInput);
            });

            $nameInput.trigger("keyup");
        });
    </script>
{% endblock %}
