table.page-layout-grid {
  width: 100%;
  border-collapse: separate;
  border-spacing: 16px;

  td {
    padding: 0;
    text-align: center;
    vertical-align: middle;
    background: #f5f5f5;
    border: 1px solid #d5d5d5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    &.main {
      -webkit-box-shadow: 0 0 32px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 0 32px rgba(0, 0, 0, 0.2);
      box-shadow: 0 0 32px rgba(0, 0, 0, 0.2);
      background: #fff;
    }

    &:hover {
      background: #e5e5e5;
    }

    .layout-cell {
      display: block;
      margin: 0;
      padding: 16px;

      .layout-cell-inner {
        display: inline-block;
        text-align: left;

        .cell-block {
          position: relative;
          margin-bottom: 4px;

          &.cell-block_content {
            font-size: 16px;
            color: #000;
          }

          &.cell-block_module {
            font-size: 15px;
            color: #555;
          }

          &.cell-block_block {
            font-size: 14px;
            color: #777;
          }

          &.cell-block_area {
            font-size: 12px;
            color: #999;
          }

          .offside {
            position: absolute;
            top: auto;
            left: -20px;
            line-height: inherit;
          }

          a {
            position: relative;
            color: inherit;
          }
        }
      }
    }
  }
}
