{% extends 'SonataAdminBundle:CRUD:edit.html.twig' %}

{% block form %}
    {{ parent() }}

    <script>
        $(function() {
            var $moduleSelect = $("#{{ admin.uniqId }}_moduleId");
            var $actionSelect = $("#{{ admin.uniqId }}_actionId");

            var parametersBoxSelector = ".box-block-parameters";
            var parametersBoxBodySelector = ".box-body";
            var $parametersBox = $(parametersBoxSelector);

            $moduleSelect.on("change", function updateModuleActions() {
                var moduleId = $(this).val();

                $actionSelect
                        .attr("disabled", true)
                        .select2("val", "")
                        .empty()
                ;

                $.ajax({
                    method: "POST",
                    url: "{{ admin.generateUrl('module_actions') }}",
                    data: {
                        id: "{{ object.id }}",
                        moduleId: moduleId,
                        uniqid: "{{ admin.uniqid }}"
                    },
                    success: function(response) {
                        $.each(response, function(id, action) {
                            $actionSelect.append($("<option/>", {
                                value: id,
                                text: action.name,
                                selected: action.selected
                            }));
                        });

                        $actionSelect
                                .removeAttr("disabled")
                                .trigger("change")
                        ;
                    },
                    error: function(error) {
                        $actionSelect.attr("disabled", true);

                        console.log("Error get actions for module with ID = " + moduleId, error);
                    }
                });
            });

            $actionSelect.on("change", function() {
                var moduleId = $moduleSelect.val();
                var actionId = $(this).val();

                $.ajax({
                    method: "POST",
                    url: "{{ admin.generateUrl('module_action_parameters') }}",
                    data: {
                        id: "{{ object.id }}",
                        moduleId: moduleId,
                        actionId: actionId,
                        uniqid: "{{ admin.uniqid }}"
                    },
                    success: function(response) {
                        var $newParametersForm = $(response).find(parametersBoxSelector + " " + parametersBoxBodySelector);

                        $(parametersBoxBodySelector, $parametersBox).replaceWith($newParametersForm);
                        $parametersBox.removeClass('hidden');

                        Admin.shared_setup($parametersBox);
                    },
                    error: function(error) {
                        console.log("Error get parameters for module:action = " + moduleId + ":" + actionId, error);
                    }
                });
            });

            $moduleSelect.trigger("change");
        });
    </script>
{% endblock %}
